.card-rasm button{
width: 100px;
border-radius: 50%;
border: 2px solid   #DEDEDE;
height: 100px;
outline: none;
background-color: white;
margin-top: -50px;
margin-bottom: 30px;
}
.card{
    width: 278px;
height: 184px;
top: 1538px;
left: 135px;

opacity: 1;
border-radius: 5px;
border-width: 1px;
border: 2px solid #DEDEDE;
text-align: center;

}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.card:hover{
    background-color: #F3CB3E;
    color: white;
}
.text1{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.text1  h3{
    color: #F3CB3E;
}
.cart {
  width: 278px;
  height: 366px;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.cart::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../../assets/social.png) center no-repeat;
  background-size: 120px; 
  opacity: 0;
  transition: opacity 0.3s ease;
 
}


.cart:hover::after {
  opacity: 1;

}
.cart:hover img{
    background-color: #F3CB3E;
}

.text2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text2 h3 {
  color: grey;
}

.cart:hover h2 {
  color: #1195FF;
}
.cart-rasm img{
width: 278px;

}
.carts{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}